* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.container img {
  object-fit: cover;
  margin: 10px;
  height: 180px;
  width: 180px;
  max-width: 100%;
  cursor: pointer;
}

.container img:hover {
    scale: 1.2;
    border: 3px solid rgb(0, 153, 255);
    transition: scale 0.3s ease;
}

